.container__error{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    color:#fff;
    background: #000;
}
.container__error h1{
    margin-top: 2rem;
    font-size: 50px;
    font-weight: 500;
}
.container__error h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
}