
.form{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.form__container{
    width: 70%;
    padding: 2rem;
    height: 500px;
    margin: auto;
    align-items: center;
}
.form__container h1{
    color:rgb(51, 48, 235);
    text-align: center;
}
.form__element{
    margin: 1.2rem auto;
    
}
input{
    margin: 1rem auto;
    padding: .5rem;
    border: none;
    width: 100%;
    border: solid 1px rgb(141, 141, 141);
}
.form__container button{
    width: 70%;
    display: block;
    padding: .5rem;
    margin: auto;
    background: rgb(51, 48, 235);
    color:#fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .5s;
}
.form__container button:hover{
    background: none;
    color:rgb(51, 48, 235);
    border: solid 2px rgb(51, 48, 235);
}