.information{
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.information__container{
    width: 80%;
    margin: 4rem auto;
}
.information__container h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color:rgb(51, 48, 235);
}
.container__models{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin: 2rem auto;
}
.container__models h3{
    text-align: center;
    font-size: 25px;
    margin: 1rem;
    font-weight: 500;
    color:rgb(51, 48, 235);
}
.models__info p{
    text-align: justify;
}
.model__info__3d{
    margin: auto;
    width: 90%;
    height: 340px;
}

@media (max-width: 800px){
    .container__models{
        margin: 2rem;
        grid-template-columns: 1fr;
    }
    .models__info{
        margin: 1rem;
    }
    .model__info__3d{
        width: 100%;
    }
}