*{
  text-decoration: none;
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
}
/* animation */

.our__animation{
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(./images/section-img2.jpg);
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
}
.our__animation::before{
  content:"";
  position: absolute;
  width: 100%;
  height: 240px;
  background:#fff;
  left: 0;
  top: 0;
  clip-path: polygon(100% 0%,0% 100%, 0% 0%);
}
.our__animation::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 200px;
  background:#fff;
  left: 0;
  bottom: 0;
  clip-path: polygon(100% 0,0 100%, 100% 100%);
}
/* .our__animation img{
  width: 100%;
} */
.our__animation .animation__model{
  width: 45%;
  height: 500px;
  display: block;
  margin: auto;
  background: red;
  position: relative;
}
.container__animation{
  width: 80%;
  margin: auto;
  padding: 3rem;
  text-align: center;
}
.container__animation h1{
  font-size: 40px;
  font-weight: 500;
  color:rgb(255, 255, 255);
  margin: 1rem;
}
.container__animation p{
  color:rgb(187, 187, 187);
  padding: 2rem;
}
.container__animation button{
  display: block;
  width: 30%;
  cursor: pointer;
  margin: auto;
  background: rgb(0, 183, 255);
  border-radius: 1.4rem;
  padding:1rem;
  border: none;
  font-weight: bold;
  color:rgb(219, 219, 219);
  /* border:solid 2px #fff; */
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.432);
  margin-bottom: 7rem;
}

/* opinion */

.opinion__each{
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
}
.opinion h2{
  color:rgb(51, 48, 235);
  margin: 2rem 5rem;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 800px){
  .our__animation img{
    width: 40%;
  } 
  .opinion__each{
    grid-template-columns: repeat(1,1fr);
  }
}